<mat-toolbar style="background: plum;" class="mat-elevation-z5">
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example settings icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example home icon">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav mode='side' opened>
    <mat-nav-list style="width: 200px;">
      <a mat-list-item routerLink='login' style="height: 60px;">
        <mat-icon>dashboard</mat-icon>dashboard
      </a>
      <a mat-list-item routerLink='student' style="height: 60px;">
        <mat-icon>copyright</mat-icon>Student
      </a>
      <a mat-list-item style="height: 60px;">
        <mat-icon>contact_support</mat-icon>Staff-detail
      </a>
      <a mat-list-item style="height: 60px;">
        <mat-icon>delete</mat-icon>Attendance
      </a>
      <a mat-list-item style="height: 60px;">
        <mat-icon>done</mat-icon>feedback
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <p style="height: 88vh;">
      <router-outlet></router-outlet>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>